<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand">{{pageTitle}}</a>
    <ul class="nav navbar-nav">
        <li routerLinkActive="active">
            <a routerLink='/welcome'>Home</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink='/products'>Product List</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/products', 'shell']">
            Product Shell
          </a> 
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a [routerLink]="['/products', 0, 'edit']">Add Product</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink='/welcome'>Signup</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink='/login'>Login</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a>Logout</a>
      </li>
    </ul>
  </div>
</nav>